* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/a.jpg); /* Cambia la imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
}

.form-information-childs {
  width: 200%;
  margin: 20px auto;
}


.info-childs h2 {
  color: #55f; /* Cambia el color del título */
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icons {
  text-align: center;
  margin-bottom: 20px;
}

.icons i {
  font-size: 14px;
}

.vision,
.mission {
  border: 1px solid #ccc; /* Cambia el color del borde */
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 400px;
}

.vision h3,
.mission h3 {
  font-weight: bold;
  color: #fff; /* Cambia el color del título */
  font-size: 20px;
  margin-bottom: 10px;
}

.info-childs img {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 220px;
}

.info-childs p {
  margin-bottom: 10px;
  color: #fff; /* Cambia el color del texto */
}

.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #007bff; /* Cambia el color de fondo */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info-childs {
  width: 100%;
  padding: 0 30px;
}
.info-childs h2{
  color: #fff;
}

.info-childs p {
  margin: 15px 0;
  color: #fff; /* Cambia el color del texto */
}

.info-childs input {
  background-color: transparent;
  outline: none;
  border: solid 2px #fff; /* Cambia el color del borde */
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff; /* Cambia el color del texto */
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s ease;
}

.info-childs input:hover {
  background-color: #0050e6;
  border: none;
  color: #fff; /* Cambia el color del texto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #333333; /* Cambia el color de fondo */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: #fff; /* Cambia el color del título */
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-information-childs p {
  color: #fff; /* Cambia el color del texto */
}

.icons {
  margin: 15px 0;
}

.icons i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: #007bff; /* Cambia el color del ícono */
  border: solid thin #007bff; /* Cambia el color del borde */
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}

.icons i:hover {
  background-color: #c7c7f3;
  color: #fff; /* Cambia el color del texto */
}

.icons i {
  font-size: 36px;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #333333; /* Cambia el color de fondo */
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: #333333; /* Cambia el color de fondo */
  border: none;
  outline: none;
  border-radius: 20px;
  color: #fff; /* Cambia el color del texto */
}

.form label i {
  color: #fff;
}

.form input[type="submit"] {
  background-color: #333333; /* Cambia el color de fondo */
  color: #ffffff; /* Cambia el color del texto */
  border: solid 2px #fff; 
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}

.form input[type="submit"]:hover {
  background-color: #0050e6;
}

.hide {
  position: absolute;
  transform: translateY(-300%);
}

/* PERSONALIZACIÓN DE MIS ALERTAS Y MENSAJES */
.form div .alerta {
  width: 290px;
  text-align: left;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: .8rem;
}

.form > .alerta-error,
.form > .alerta-exito {
  display: none;
}

.form .alertaError {
  display: block;
  background-color: #F66060;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .alertaExito {
  display: block;
  background-color: #0ca828;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .error {
  outline: solid 2px #9d2222;
}

/* RESPONSIVE FORM */
@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 15px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }
}
